@font-face {
    font-family: liberation_sans;
    src: url('liberationsans-bold-webfont.woff2') format('woff2'),
         url('liberationsans-bold-webfont.woff') format('woff'),
         url('LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: liberation_sans;
    src: url('liberationsans-bolditalic-webfont.woff2') format('woff2'),
         url('liberationsans-bolditalic-webfont.woff') format('woff'),
         url('LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: liberation_sans;
    src: url('liberationsans-italic-webfont.woff2') format('woff2'),
         url('liberationsans-italic-webfont.woff') format('woff'),
         url('LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: liberation_sans;
    src: url('liberationsans-regular-webfont.woff2') format('woff2'),
         url('liberationsans-regular-webfont.woff') format('woff'),
         url('LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oswald;
    src: url('oswald-bold-webfont.woff2') format('woff2'),
         url('oswald-bold-webfont.woff') format('woff'),
         url('Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: oswald;
    src: url('oswald-regular-webfont.woff2') format('woff2'),
         url('oswald-regular-webfont.woff') format('woff'),
         url('Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: oswald;
	background-color: #75787B;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

button {
	font-family: oswald;
	color: black;
	font-size: 20pt;
	background-color: #A7A8AA;
	width:24.25%;
	margin:0px;
	padding:0px;
	border:0px;
	margin-bottom:10px;
	border-image-width:0px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 2px;
	border-radius: 5px;
}

button:hover {
	background-color: #DDDDDD;
}

h2, h3, h4, p, center {
	color: #DDDDDD;
}

h1, h2 {
	text-align: center;
}

.heading {
	display: inline-block;
}

.station {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	font-size: 32pt;
	color: #660033;
}

h2 {
	font-size: 24pt;
	margin-top: 15px;
	margin-bottom: 15px;
}

h3 {
	font-size: 20pt;
}

h3, h4 {
	padding-top: 10px;
	margin: 0px;
}

h4 {
	padding-bottom: 10px;
}

p {
	font-family: liberation_sans;
	font-size: 16pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

div {
	border-radius: 5px;
}

img {
	border-radius: 15px;
}
